body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   background-color: white; 
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }
  
.CalendarContainer {
    height: 90vh;
    width: 80vw;

    position: absolute;
    top: 5vh;
    left: 5vw;
    right: 5vw;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.Calendar {
    position: absolute;
    height: 150vh;
    width: calc(100% - 50px);
    right: 0;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 150vh;
}

.Hours {
    position: absolute;
    left: 0;
    width: 50px;
    height: 150vh;
    display: flexbox;
    flex-direction: column;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}


.Hours p {
    height: calc(4.1666666%);
    line-height: calc(4.1666666%);
    margin: 0 auto;
}

.WeekDayContainer {
    background: white;
    border-left: 2px solid grey;
    display: flexbox;
    flex-direction: column;
    border-radius: 10px;
}

.Hour {
    opacity: 0.2;
    height: calc(4.1666666% - 1.04166666px);
    flex-grow: 0.2;
    border-bottom: 1px solid grey;
    margin: 0;
}

.Hour:first-child {
    border-top: 1px solid grey;
}
.SelectedActivity {
    border-radius: 10px;
    background: greenyellow;
    font-size: 15px;
    opacity: 0.6;
    width: calc(14.2857142% - 10px);
    box-shadow: 2px -1px 5px green;
    cursor: grab;
    overflow: hidden;
}
.SelectedActivity:active {
    cursor: grabbing;
    opacity: 1.0;
}

.SelectedActivity:focus {
    opacity: 1.0;
    border: 1px solid green;
    cursor: ns-resize;
}