* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: white;
}

.CalendarContainer {
  margin: 0 auto;
  height: 70%;
  width: 80%;

  display: flex;
  flex-direction: column;

  .DayLabels {
    height: 30px;
    width: calc(100% - 22px);

    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid rgb(70, 75, 69);
    z-index: 2;

    color: white;

    display: flex;
    flex-direction: row;

    p {
      margin: 0;
      color: rgb(70, 75, 69);
      border-right: 2px solid rgb(70, 75, 69);
      width: calc(14.2857142% - 1px);
      height: 100%;
      line-height: 100%;
      text-align: center;

      &:first-child {
        margin-left: 45px;
        width: calc(14.2857142% - 3px);
        border-left: 2px solid rgb(70, 75, 69);
      }
    }
  }

  .WeekContainer {
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: row;

    .Week {
      position: relative;
      margin-right: 10px;

      height: 150vh;
      width: calc(100% - 60px);
      padding: 0;

      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
      grid-template-rows: 150vh;
    }

    .HourLabels {
      margin: 0;

      color: rgb(70, 75, 69);

      width: 50px;
      height: 150vh;
      font-size: 15px;

      display: flex;
      flex-direction: column;

      div {
        height: calc(4.1666666% - 0px);
        margin: 0px;
        width: 100%;
        text-align: center;
        border-bottom: 2px dashed rgba(70, 75, 69, 0.5);

        p {
          line-height: 100%;
          color: rgb(70, 75, 69);
        }
        p:first-child {
          margin-top: 2px;
        }
      }
    }

    .DayContainer:first-child {
        border-left: 2px solid rgb(70, 75, 69);
        border-right: 2px solid rgb(70, 75, 69);
    }
    .DayContainer {
      background: white;
      border-right: 2px solid rgb(70, 75, 69);

      display: flex;
      flex-direction: column;
    }

    .Hour {
      height: calc(4.1666666% - 2.04166666px);
      flex-grow: 0.6;
      border-bottom: 2px dashed rgba(70, 75, 69, 0.5);
      margin: 0;
    }

    .Hour:first-child {
      border-top: 2px dashed rgba(70, 75, 69, 0.5);
    }
  }
}

.SelectedActivity {
  position: relative;
  border-radius: 5px;
  background: #7bf675;
  font-size: 15px;
  width: calc(14.2857142% - 10px);
  box-shadow: 2px -1px 5px green;
  cursor: grab;
  overflow: hidden;
}
.SelectedActivity:active {
  cursor: grabbing;
  opacity: 0.7;
}

.SelectedActivity:focus {
  opacity: 1;
  border: 1px solid green;
  cursor: ns-resize;
}

.SubjectSelection {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  margin-top: 150px;
  label {
    margin-top: 15px;
    margin-bottom: 3px;
  }
  select {
    padding: 7px calc(50% - 66px);
    width: 100%;
    background: rgb(70, 75, 69);
    border-radius: 10px;
    color: white;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
  p {
    margin-bottom: 2px;
  }
}

input {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 7px 0;
  width: 80%;
  color: white;
  background: rgb(70, 75, 69);
  border-radius: 10px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
