@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

$A_por_A_verde_claro: #7bf675;
$A_por_A_verde_escuro: #057700;
$A_por_A_cinza: #464b45;

*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}

<<<<<<< HEAD
=======
/*.page {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}*/

>>>>>>> 501c2b69161225a59eb9c780e0182156bc054554
@media(min-width: 769px){
	.footer{
		clear: both;
		width: 100%;
		color: $A_por_A_cinza;
		position: absolute;
		bottom: 0;
		height: auto;
		display: grid;
		overflow-wrap: normal;
		font-size: 13px;
		line-height: 27px;
		
		background: $A_por_A_verde_claro;
		border-top: 3px solid $A_por_A_verde_escuro;
		margin: 0 auto;
		margin-bottom: 0;
		p{
			max-width: 90%;
			margin: 0 auto;
			a {
				text-decoration: none;
				color: inherit;
				&:hover{
					color: white;
				}
			}	
		}
	}
}

@media(max-width: 768px){
	.footer{
		clear: both;
		width: 100%;
		color: $A_por_A_cinza;
		position: absolute;
		bottom: 0;
<<<<<<< HEAD
=======
		top: 15vh;
>>>>>>> 501c2b69161225a59eb9c780e0182156bc054554
		overflow-wrap: normal;
		padding: 5px;
		height: auto;
		padding: 5px;
		display: grid;
		font-size: 13px;
		background: $A_por_A_verde_claro;
		border-top: 7px solid $A_por_A_verde_escuro;
		p{
			max-width: 90%;
			margin: auto;
		}
		a{
			text-decoration: none;
			color: inherit;
			&:hover{
				color: white;
			}
		}
	}
}
