{% extends './default.html' %}

{% block content %}
{% load static %}
<div class="container">
	<a href="{% url 'materia' 'matematica' %}"><img src={% static "images/matematica.png" %} class="materias"></a>
	<a href="{% url 'materia' 'quimica' %}"><img src={% static "images/quimica.png" %} class="materias"></a>
	<a href="{% url 'materia' 'fisica' %}"><img src={% static "images/fisica.png" %} class="materias"></a>
	<a href="{% url 'materia' 'biologia' %}"><img src={% static "images/biologia.png" %} class="materias"></a>
	<a href="{% url 'materia' 'historia' %}"><img src={% static "images/historia.png" %} class="materias"></a>
	<a href="{% url 'materia' 'geografia' %}"><img src={% static "images/geografia.png" %} class="materias"></a>
	<a href="{% url 'materia' 'literatura' %}"><img src={% static "images/literatura.png" %} class="materias"></a>
	<a href="{% url 'materia' 'gramatica' %}"><img src={% static "images/gramatica.png" %} class="materias"></a>
	<a href="{% url 'materia' 'redacao' %}"><img src={% static "images/redacao.png" %} class="materias"></a>
	<a href="{% url 'materia' 'sociologia' %}"><img src={% static "images/sociologia.png" %} class="materias"></a>
	<a href="{% url 'materia' 'filosofia' %}"><img src={% static "images/filosofia.png" %} class="materias"></a>
</div>

{% endblock %}
	