{% extends './default.html' %}

{% block content %}
<form>
    <h4>
        Selecione os blocos de tempo livres na sua semana
        para estudar:
    </h4>
    <div class="CalendarContainer" id="calendarContainer"></div>
    <div class="SubjectSelection">
        <h4>
            Selecione as duas materias nas quais voce mais possui
            dificuldades:
        </h4>
        <label>Materia 1:</label>
        <select class="dificult_subject">
            <option>Matematica</option>
            <option>Fisica</option>
            <option>Quimica</option>
            <option>Portugues</option>
            <option>Historia</option>
            <option>Geografia</option>
            <option>Biologia</option>
        </select>
        <label>Materia 2:</label>
        <select class="dificult_subject">
            <option>Matematica</option>
            <option>Fisica</option>
            <option>Quimica</option>
            <option>Portugues</option>
            <option>Historia</option>
            <option>Geografia</option>
            <option>Biologia</option>
        </select>
    </div>
    <div class="SubjectSelection">
        <h4>
            Selecione as duas materias nas quais voce menos possui
            dificuldades:
        </h4>
        <label>Materia 1:</label>
        <select class="easy_subject">
            <option>Matematica</option>
            <option>Fisica</option>
            <option>Quimica</option>
            <option>Portugues</option>
            <option>Historia</option>
            <option>Geografia</option>
            <option>Biologia</option>
        </select>
        <label>Materia 2:</label>
        <select class="easy_subject">
            <option>Matematica</option>
            <option>Fisica</option>
            <option>Quimica</option>
            <option>Portugues</option>
            <option>Historia</option>
            <option>Geografia</option>
            <option>Biologia</option>
        </select>
    </div>

    <input type="submit" value="Enviar" id="submitButton"/>
</form>

{% load static %}
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"
></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script src={% static "scripts/js/organizacao.js" %} type="module"></script>{% csrf_token %}

{% endblock %}