{% extends './default.html' %}

{% block content %}
{% load static %}

			<h1>Política de privacidade</h1>
			<p>
				A política de privacidade do projeto Alunos por Alunos tem como objetivo evidenciar o nosso compromisso em garantir a proteção dos 
				seus dados que são cadastrados em nosso site. Nós nunca forneceremos as suas informações pessoais para terceiros sem a sua autorização 
				e não divulgamos informações que possam identificar os usuários do site.
			</p>
			<p>
				Todas as coletas de dados do nosso site são feitas por meio de outras plataformas, o Google e o Facebook. Não possuímos uma forma de cadastrado
				e login próprio. Sendo assim, as suas informações pessoais não serão acessadas por nossa equipe. O website do Alunos por alunos coleta 
				informações sobre os usuários de duas maneiras: durante a navegação pelo site (por exemplo, para saber quantas pessoas entraram em nossas páginas, quais as seções mais visitadas e 
				quanto tempo foi gasto em cada uma delas), através do Analytics do Facebook, por exemplo, e as informações básicas (Nome, email e foto de perfil) da plataforma pela qual o usuário optou, 
				usadas para diferenciar os usuários e permitir que cada um tenha acesso aos seus conteúdos exclusivos.
			</p>
			<p>
				Essas regras sobre privacidade se aplicam apenas ao nosso site, portanto não necessariamente valem para os sites que indicamos por meio de links. 
				Você deve se informar sobre a política de privacidade de cada site que você utiliza para garantir a segurança dos seus dados. 
				Portanto você pode se sentir seguro ao utilizar o nosso website.
			</p>

{% endblock %}
	