
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 0 0 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset -1px 2px 2px rgba(70,75,69,0.5);
  background: rgba(70,75,69,0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  opacity: 0.5;
  background: #7bf675;
  border-radius: 20px;
}

.Content {
  position: relative;
  margin: 0 auto;
  top: 108px;

  display: flex;
  flex-direction: row;

  height: calc(100% - 108px - 75px);
  width: 90%;
  max-width: 980px;

  .CalendarContainer {
    position: relative;

    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;

    label {
      height: 20px; 
    }

    .DayLabels {
      position: relative;
      height: 30px;
      width: calc(100% - 22px);

      margin-top: 25px;
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 2px solid rgb(70,75,69);
      z-index: 2;

      color: white;

      display: flex;
      flex-direction: row;

      p {
        margin: 0;
        color: rgb(70,75,69);
        border-right: 2px solid rgb(70,75,69);
        width: calc(14.2857142% - 1px);
        height: 100%;
        line-height: 100%;
        text-align: center;

        &:first-child {
          margin-left: 45px;
          width: calc(14.2857142% - 3px);
          border-left: 2px solid rgb(70,75,69);
        }
      }
    }

    .WeekContainer {
      position: relative;

      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;

      display: flex;
      flex-direction: row;

      .Week {
        position: relative;
        margin-right: 10px;

        height: 150vh;
        width: calc(100% - 60px);
        padding: 0;

        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 150vh;
      }

      .HourLabels {
        position: relative;
        margin: 0;

        color: rgb(70,75,69);

        width: 50px;
        height: 150vh;
        font-size: 15px;

        display: flex;
        flex-direction: column;

        p {
          height: calc(4.1666666% - 2px);
          width: 100%;
          line-height: 100%;
          margin: 0px;

          text-align: left;
          color: rgb(70,75,69);
          border-bottom: 2px dashed rgba(70,75,69,0.5);
        }

        p:first-child {
          margin-top: 2px;
        }
      }

      .SundayContainer {
        background: white;
        border-left: 2px solid rgb(70,75,69);
        border-right: 2px solid rgb(70,75,69);

        display: flex;
        flex-direction: column;
      }

      .DayContainer {
        background: white;
        border-right: 2px solid rgb(70,75,69);

        display: flex;
        flex-direction: column;
      }

      .Hour {
        height: calc(4.1666666% - 2.04166666px);
        flex-grow: 0.6;
        border-bottom: 2px dashed rgba(70,75,69,0.5);
        margin: 0;
      }

      .Hour:first-child {
        border-top: 2px dashed rgba(70,75,69,0.5);
      }
    }
  }
}

.SelectedActivity {
  position: relative;
  border-radius: 5px;
  background: #7bf675;
  font-size: 15px;
  width: calc(14.2857142% - 10px);
  box-shadow: 2px -1px 5px green;
  cursor: grab;
  overflow: hidden;
}
.SelectedActivity:active {
  cursor: grabbing;
  opacity: 0.7;
}

.SelectedActivity:focus {
  opacity: 1.0;
  border: 1px solid green;
  cursor: ns-resize;
}

.StudyInfo {
  position: relative;
  border: 3px solid rgb(70, 75, 69);
  border-radius: 20px;
  padding: 10px 10px;
  margin-left: 7%;
  margin-top: 5%;
  width: 15%;
  right: 0;

  .SubjectSelection {
    position: relative;
    p {
      margin-bottom: 2px;
    }
  }

  .SubjectSelection:last-child {
    border-top: 1px solid rgb(70, 75, 69);
    position: relative;
    padding-top: 30px;
    margin-top: 30px;
  }
}
