@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

$A_por_A_verde_claro: #7bf675;
$A_por_A_verde_escuro: #057700;
$A_por_A_cinza: #464b45;

*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}

.page {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

@media(min-width: 769px){
	.navigation{
		position: fixed;
		width: 100%;
		height: 50px;
		z-index: 5;

		border-bottom: 07px solid #057700;
		background-color: #7bf675;
		color: #464b45;
		text-decoration: none;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-family: "Roboto Mono Medium";

		.logo {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 75px;
			height: auto;

			&:hover {
				position: absolute;
				top: 10px;
				left: 10px;
				width: 77px;
				height: auto;
			}
		}
	}

	.header_links{
		height: auto;
		width: 500px;
		position: absolute;
		top: 26%;
		left: 90px;
		list-style: none;
		font-size: 17px;
		display: inherit;
		flex-direction: inherit;
		align-items: inherit;
		justify-content: inherit;
	}

	.header_links li a {
		color: inherit;
		text-decoration: inherit;
	}

	.header_links li a:hover {
		color: white;
		font-size: 18px;
		text-decoration: inherit;
	}

	.instagram_icon {
		width: 20px;
		height: auto;
		position: absolute;
		top: 16px;
		right: 80px;
	}
	.instagram_icon:hover {
		width: 22px;
		height: auto;
		position: absolute;
		top: 15px;
		right: 79px;
	}

	.account_options {
		position: absolute;
		text-align: left;
		flex-direction: column;
		top: 26%;
		right: 10px;
	}

	.account_options a {
		font-size: 12px;
		color: whitesmoke;
		text-decoration: inherit;
		padding: 2px 7px;
		border-bottom-width: 6px;
		background: #464b45;
	}

	.account_options a:hover {
		font-size: 12px;
		color: whitesmoke;
		padding: 3px 7px;
		border-bottom-width: 6px;
		background: #000000;
	}

	.mobile_only{
		display: none;
	}
}
@media(max-width: 768px){
	.navigation{
		position: fixed;
		width: 100%;
		height: 50px;
		z-index: 5;

		border-bottom: 07px solid #057700;
		background-color: #7bf675;
		color: #464b45;
		text-decoration: none;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-family: "Roboto Mono Medium";
		
		.account_options{
			display: none;
		}

		.header_links{
			position: absolute;
			width: 40%;
			@media(min-width: 700px){
				width: 30%;
			}
			height: 270px;
			top: 42px;
			left: -350px;
			background-color: $A_por_A_verde_claro;
			text-align: center;
			transition: ease-out 0.5s;
			border: 7px solid $A_por_A_verde_escuro;
			border-left: 0px;
			border-collapse: collapse;
			li{
				list-style: none;
				padding: 20px 0px;
				border-bottom: 5px solid $A_por_A_verde_escuro;
				&:last-child{
					border-bottom: 0px;
				}
				a{
					font-style: "Roboto Mono Medium";
					font-weight: 700;
					color: $A_por_A_cinza;
				}
				a:hover{
					color: whitesmoke;
				}
			}
		}

		.header_links.active{
			left: 0;
		}

		.logo {
			position: absolute;
			top: 10px;
			left: 40vw;
			width: 75px;
			height: auto;
		}

		.logo:hover{
			position: absolute;
			top: 10px;
			left: 40vw;
			width: 80px;
			height: auto;
		}

		.instagram_icon {
			width: 20px;
			height: auto;
			position: absolute;
			top: 16px;
			right: 10vw;
			.instagram_icon:hover {
				width: 25px;
				height: auto;
				position: absolute;
				top: 15px;
				right: 5vw;
			}
		}
		.ver_mais_cel{
			width: 20px;
			height: auto;
			position: absolute;
			top: 16px;
			left: 5vw;
		}

		.loginimg{
			width: 20px;
			height: auto;
			position: absolute;
			top: 16px;
			right: 3vw;
		}
	}
}