@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

$A_por_A_verde_claro: #7bf675;
$A_por_A_verde_escuro: #057700;
$A_por_A_cinza: #464b45;

* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

html {
	max-width: 100%;
}

.page {
	background-color: #ffffff;
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.content {
	top: 75px;
	position: relative;
	z-index: 1;
	width: 90%;
	height: calc(100% - 30px - 75px);
	color: $A_por_A_cinza;
	overflow-wrap: normal;
	background: #ffffff;
	max-width: 980px;
	margin: 0 auto;
}

.SlideShowContainer {
	position: relative;
	width: 60%;
	height: 50%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50px 2fr 50px;
	grid-template-rows: 95% 5%;
	.SlideShowDisplayer {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 2;
		grid-column-end: 2;
		height: 95%;
		overflow: hidden;
		margin: auto;
		.Slider {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			img {
				display: block;
				max-width: 100%;
				min-width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
	.PreviousButton {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 1;
		background: transparent;
		line-height: 15%;
		font-size: 60px;
		color: $A_por_A_verde_claro;
		opacity: 0.8;
		border: none;
		box-shadow: none;
		cursor: pointer;
		&:active,
		&:hover {
			color: $A_por_A_verde_escuro;
			box-shadow: none;
		}
		&:focus {
			outline: 0;
		}
	}
	.NextButton {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 3;
		grid-column-end: 3;
		background: transparent;
		line-height: 15%;
		font-size: 60px;
		color: $A_por_A_verde_claro;
		opacity: 0.8;
		border: none;
		box-shadow: none;
		cursor: pointer;
		&:active,
		&:hover {
			color: $A_por_A_verde_escuro;
			box-shadow: none;
		}
		&:focus {
			outline: 0;
		}
	}
	.DotsContainer {
		grid-row-start: 2;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
		display: inline-flex;
		width: 100%;
		.Dots {
			margin: 0 auto;
			background: transparent;
			border: none;
			align-items: center;
			&:focus {
				outline: 0;
			}
		}
	}
	.Dot {
		border: 1px solid $A_por_A_cinza;
		background: whitesmoke;
		border-radius: 100%;
		height: 15px;
		width: 15px;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
	}
	.SelectedDot {
		border: 1px solid $A_por_A_cinza;
		background: $A_por_A_verde_claro;
		border-radius: 100%;
		height: 15px;
		width: 15px;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
	}
}

@media (min-width: 769px) {
	h1 {
		top: 70px;
		font-weight: 700;
		position: relative;
		text-align: center;
		font-family: "Roboto Mono Medium";
		color: $A_por_A_cinza;
	}

	.Sobre_nos {
		top: 70px;
		width: 90%;
		left: 5%;
		right: 5%;
		color: $A_por_A_cinza;
		position: relative;
		overflow-wrap: normal;
		height: auto;
		background: #ffffff;

		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 30%;
		grid-template-rows: 1fr;
		grid-gap: 10px 20px;
		font-family: "Roboto Mono Medium";
		.historia_e_obj {
			padding: 5px;
			grid-column-start: 1;
			grid-row-start: 2;
		}
		.como {
			padding: 5px;
			grid-column-start: 2;
			grid-row-start: 2;
		}
	}
}
@media (max-width: 768px) {
	h1 {
		top: 12%;
		font-weight: 700;
		position: relative;
		text-align: center;
		font-family: "Roboto Mono Medium";
		color: $A_por_A_cinza;
	}

	.Sobre_nos {
		top: 12%;
		width: 90%;
		left: 5%;
		right: 5%;
		color: $A_por_A_cinza;
		position: relative;
		overflow-wrap: normal;
		height: auto;
		background: #ffffff;
		display: grid;
		grid-gap: 10px 20px;
		font-family: "Roboto Mono Medium";
		.historia_e_obj {
			padding: 5px;
		}
		.como {
			padding: 5px;
		}
	}

	.content {
		top: 100px;
		width: 90%;
		max-height: calc(100% - 50px - 400px) !important;
		overflow: hidden;
	}

	.SlideShowContainer {
		position: relative;
		width: 100%;
		height: 30%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 25px 2fr 25px;
		grid-template-rows: 90% 10%;
		.SlideShowDisplayer {
			grid-row-start: 1;
			grid-row-end: 1;
			grid-column-start: 2;
			grid-column-end: 2;
			height: 95%;
			overflow: hidden;
			margin: auto;
			.Slider {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				img {
					display: block;
					max-width: 100%;
					min-width: 100%;
					height: auto;
					object-fit: contain;
				}
			}
		}
		.PreviousButton {
			grid-row-start: 1;
			grid-row-end: 1;
			grid-column-start: 1;
			grid-column-end: 1;
			background: transparent;
			line-height: 15%;
			font-size: 30px;
			color: $A_por_A_verde_claro;
			opacity: 0.8;
			border: none;
			box-shadow: none;
			cursor: pointer;
			&:active,
			&:hover {
				color: $A_por_A_verde_escuro;
				box-shadow: none;
			}
			&:focus {
				outline: 0;
			}
		}
		.NextButton {
			grid-row-start: 1;
			grid-row-end: 1;
			grid-column-start: 3;
			grid-column-end: 3;
			background: transparent;
			line-height: 15%;
			font-size: 30px;
			color: $A_por_A_verde_claro;
			opacity: 0.8;
			border: none;
			box-shadow: none;
			cursor: pointer;
			&:active,
			&:hover {
				color: $A_por_A_verde_escuro;
				box-shadow: none;
			}
			&:focus {
				outline: 0;
			}
		}
		.DotsContainer {
			grid-row-start: 2;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: 4;
			display: inline-flex;
			width: 100%;
			.Dots {
				margin: 0 auto;
				background: transparent;
				border: none;
				align-items: center;
				&:focus {
					outline: 0;
				}
			}
		}
		.Dot {
			border: 1px solid $A_por_A_cinza;
			background: whitesmoke;
			border-radius: 100%;
			height: 15px;
			width: 15px;
			cursor: pointer;
			&:focus {
				outline: 0;
			}
		}
		.SelectedDot {
			border: 1px solid $A_por_A_cinza;
			background: $A_por_A_verde_claro;
			border-radius: 100%;
			height: 15px;
			width: 15px;
			cursor: pointer;
			&:focus {
				outline: 0;
			}
		}
	}
}
